@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");



body {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

.container {

  margin: 0 auto;
  width: 100%;
}

.header {
  width: 100%;
  font-size: 2.4rem;
  background-color: var(--bc-01);
  color: var(--bc5-e-nav-size);
  font-weight: 700;
  height: 8rem;
  padding: 2rem 11rem 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .nav ul {
  display: flex;
  gap: 3rem;
  
}

.header .nav ul a{
  transition: 0.3s ease-in-out;
}

.header .nav ul a:hover {
  color: var(--title-button);
}

.hero .container {
  display: flex;
  align-items: center;
  padding-left: 14rem;
}

.hero {
  background-color: var(--bc-01);
}

.hero .container .agendamento h1 {
  width: 51.6rem;
  color: var(--title-button);
  font-size: 4.8rem;
  line-height: 6.24rem;
  padding-bottom: 2rem;
}

.hero .container .agendamento p {
  width: 53.7rem;
  color: var(--services-size);
  font-size: 2rem;
  line-height: 2.6rem;
  padding-bottom: 2rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26.3rem;
  height: 6rem;
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--title-button);
  color: var(--light);
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  color: var(--very-dark);
  background-color: var(--light);
  cursor: pointer;
}

.hero .container .destaque-hero {
  display: flex;
  justify-content: center;
  width: 50%;
}

.estatisticas .container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--bc-01) 50%, var(--bc-02) 50%);
}

.estatisticas .container .card-estatisticas {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  width: 116.2rem;
  height: 20.6rem;
}

.estatisticas .container .card-estatisticas ul {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.estatisticas .container .card-estatisticas ul li {
  color: var(--estatistic-size);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 5.2rem;
}

.estatisticas .container .card-estatisticas ul li span {
  font-size: 2rem;
  color: var(--services-size);
}

.info-services .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--bc-02);
  flex-direction: column;
  padding-bottom: 10.7rem;
}

.info-services .container h2 {
  font-size: 3.6rem;
  color: var(--title-button);
  padding: 8rem 0 6rem 0;
}

.info-services .container .services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  flex-wrap: wrap;
}

.info-services .container .services .card-services {
  width: 34.7rem;
  height: 18rem;
  background-color: var(--light);
  padding: 1rem;
  
}

.img-card {
  float: left;
  shape-outside: circle();
  clip-path: circle();
  background-color: var(--bc-circle);
  width: 9rem;
  height: 8.9rem;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-services .container .services .card-services .title h3 {
  color: var(--very-dark);
  font-weight: 700;
  font-size: 2rem;
}

.info-services .container .services .card-services .title img {
  width: 7rem;
  height: 7rem;
}

.info-services .container .services .title .title-color {
  color: var(--title-button);
}

.info-services .container .services .card-services .title p {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--services-size);
}



