footer{
  background-color: #644b2c;
  padding-top: 8rem;
}
  
  
footer .container{
  display: flex;
  height: 35rem;
  justify-content: space-evenly;
  color: var(--light);
}

footer .container .logo{
  display: flex;
  font-size: 3.2rem;

}

footer .container address h3{
  font-size: 2.4rem;
  padding-bottom: 3.2rem;
}

footer .container address .contatos li{
  padding-bottom: 1.2rem;
  font-size: 2rem;

}

footer .container address .contatos li:nth-child(2){
  border-bottom: 0.1rem solid var(--light);
}

footer .container address .contatos li:nth-child(4){
  border-bottom: 0.1rem solid var(--light);
}

footer .container address .icons ul{
  display: flex;
  gap: 4.2rem;
  padding-top: 1.6rem;
}

footer .container .informacoes h3{
  font-size: 2.4rem;
  padding-bottom: 3.2rem;
}

footer .container .informacoes ul li{
  padding-bottom: 1.2rem;
  font-size: 2rem;
}

footer .devs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--light);
  padding-bottom: 2rem;
  font-weight: 700;

  font-size: 1.2rem;
}

footer .devs a{
  color: var(--title-button);
}

footer .devs a:hover{
  scale: 1.1;
}





