.container__geral_orientacao .container {
  background: #fff;
  height: 68.2rem;
  display: flex;
  gap: 2rem;
  padding: 10.3rem;
}

.container_como_se_preparar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66.6rem;
  height: 15.5rem;
  border: solid 1px #b2b2b2;
  margin-bottom: 2rem;
  padding: 2rem;
}

.container_como_se_preparar img{
  transform: rotate(180deg);
}

.info-como-se-preparar{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}


.title_informativo {
  font-size: 2rem;
  width: 47.85rem;
  padding-left: 3rem;
}
.descricao_anotacao {
  color: #404040;
  font-size: 18px;
  line-height: 23.4px;
  margin: 2rem 0 3rem 3rem;
  width: 54.8rem;
}

.questions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66.6rem;
  height: 6.6rem;
  padding: 2rem;
  display: flex;
  border: solid 1px #b2b2b2;
  margin-bottom: 20px;
}

.imagem_coco {
  width: 37.1rem;
  height: 47rem;
  box-shadow:48px -58px 0px #FFCCD1;
  margin: 13rem 19rem 8rem 8rem;
}
