.comments .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comments .container h2 {
  font-size: 3.6rem;
  color: var(--title-button);
  padding: 8rem 0 6rem 0;
}

.comments .container .wrapper-comments{
  display: flex;
  align-items: center;
  gap: 6rem;
}

.comments .container .wrapper-comments .card-comments{
  display: flex;
  align-items: center;
  width: 45.1rem;
  height: 25.42rem;
  background-color: var(--bc-01);
  border-radius: 0.8rem;
  padding: 4rem;
  gap: 2rem;
}

.comments .container .wrapper-comments .card-comments img{
  width: 17.22rem;
  height: 17.22rem;
}

.comments .container .wrapper-comments .card-comments .info-comments{
  display: flex;
  flex-direction: column;
  width: 14rem;
  
}

.comments .container .wrapper-comments .card-comments .info-comments h4{
  font-size: 1.6rem;
  font-weight: 700;
  border-bottom: 0.1rem solid;

}

.comments .container .wrapper-comments .card-comments .info-comments p{
  width: 18.28rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding-top: 1.4rem;

}



.comments .container .wrapper-comments .card-comments .info-comments .stars{
  display: flex;
  padding-top: 1.3rem;
  
}

.comments .container .wrapper-comments .card-comments .info-comments .stars li img{
  width: 2.8rem;
  height: 2.4rem;
}

.comments .container .elipse ul{
  display: flex;
  gap: 3.6rem;
  padding: 4.4rem 0 12rem 0;
}

.comments .container .elipse ul li{
  shape-outside: circle();
  clip-path: circle();
  background-color: var(--bc-01);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.comments .container .elipse ul .selecionada{
  background-color: var(--title-button);
}

