.container_tratamentos .container{
    display: flex;
    gap: 10rem;
    height: 75.8rem;
    background-color: #FCF8F5;;
}
.imagen_container_tratamentos{
    width: 34rem;
    height: 55rem;
    box-shadow:48px -58px 0px #FFCCD1;
    margin: 13rem 5rem 0 14rem;
}
.container_descricao{
    width: 62.4rem;
}
.title-01{
    color: #DC2428;
    width: 50.4rem;
    font-size:36px;
    margin: 10.5rem 0 3rem 0;
 
}
.descricao{
    width: 624px;
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 20px;
}
.container_list_tratamentos{
    margin-top: 20px;
    margin-bottom: 20px;
}
.line_tratementos{
   font-size: 16px;
    line-height: 23.4px;
   

}

