:root {
  --very-dark: #000000;
  --estatistic-size: #111111;
  --services-size: #2e2e2e;
  --answers: #404040;
  --fs-02: #b2b2b2;
  --light: #ffffff;
  --bc-04: #fcf8f5;
  --bc-01: #f7f1df;
  --bc-02: #e4d0b4;
  --bc5-e-nav-size: #644b2c;
  --bc-circle: #ffccd1;
  --title-button: #dc2428;
}
